body{
   style="margin: 0;"
}

.app{
  width: 100%;
  height: 100%;
}

.title{
  background-image: url("pic/title.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.main{
  width: 100%;
}
.item33{
  width: 33.3%;
  float: left;
}
.item20{
  width: 20%;
  float: left;
}

.item img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.buttonRed{
  width: 100%;
  height: 50px;
  display: block;
  border-radius: 3px;
  background: #c32f2d;
  color: white;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
}

.buttonLightGray{
  width: 90%;
  height: 10px;
  display: block;
  border-radius: 3px;
  background: #e5e5e5;
  /* text color */
  color: black;
  text-align: center;
  /* setting out line-height to our height makes the text float in the center! */
  line-height: 50px;
  /* we don't want that ugly underline */
  text-decoration: none;
}

/* anything that starts with . is a class. So .buttonStyle styles class='buttonStyle' */
/* anything that doesnt have a . is the actual tag! So when we called .item img we were styling the img tag directly*/

/* if you did something like this:
div{
  backround: red;
}

that would give every <div> tag a red background
*/
