.app{
  width: 100%;
  height: 100%;
}

.row-of-three{
  width: 100%;
}
.item{
  /* lets make the itme 33.33% wide so 3 equals 100% */
  width: 33.33%;
  /* float left means they'll align beside eachother instead of below eachother! */
  float: left;
}

/* lets style the img tag that is inside our item div*/
.item img{
  width: 100%;
  /* since the heights vary, lets give it a fixed height */
  height: 200px;
  /* lets 'cover' the image so it doesn't stretch */
  object-fit: cover;
}

/* Now lets add our buttonStyle class! */
.buttonStyle{
  width: 100%;
  height: 50px;
  display: block;
  border-radius: 3px;
  background: #2196F3;
  /* text color */
  color: white;
  text-align: center;
  /* setting out line-height to our height makes the text float in the center! */
  line-height: 50px;
  /* we don't want that ugly underline */
  text-decoration: none;
}

/* anything that starts with . is a class. So .buttonStyle styles class='buttonStyle' */
/* anything that doesnt have a . is the actual tag! So when we called .item img we were styling the img tag directly*/

/* if you did something like this:
div{
  backround: red;
}

that would give every <div> tag a red background
*/
