
h1{
	position: relative;
	text-align: center;
	top: 40px; 
	width:100%;
	font-size: 24px;
	font-family: "helvetica";
}
h2{
	position: relative;
	text-align: center;
	top: 25px; 
	width:100%;
	font-size: 16px;
	font-family: "helvetica";
}
.label {
	position: relative; 
	text-align:left;
	font-family: "helvetica";
}


#tblCompetitions tr:nth-of-type(even){
	background-color:#ccc;
}

.btnManage {
  text-shadow: 1px 1px 3px #666666;
  color: #ffffff;
  font-size: 14px;
  background: #3498db;
  padding: 5px 10px 3px 10px;
  text-decoration: none;
}

.btnManage:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
	
.btn {
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	font-family: helvetica;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	width:150px;
	position:relative;
}

.btn:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}

table {
	position: relative;
	border-collapse: collapse;
	border: 0;
	font-family: "helvetica";
	font-size: 12px;
}
ul.horizontal{
	margin:0;
	padding:0;
}
ul.horizontal li{
	display:block;
	float:left;
	padding:0 10px;
}	

input[type=date], input[type=text],input[type=password],input[type=email],input[type=number]
{
	width:250px;
	font-size:16px;
	font-family: Helvetica;
}

select{
	font-size:16px;
	height:30px;
	width: 250px;
	font-family: Courier;
}

#spacer{
	width: 50px;
	text-align: center;
}
